

    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="/login" method="post">
                            <h3 class="text-center text-info">Login</h3>
                           
                           <span>
                            
          
        <h5 class="text-danger"> {{logginErr}}</h5>
            


                           </span>

                            <div class="form-group mt-3">
                                <label for="email" class="text-info">Email:</label><br>
                                <input type="email" name="email" id="emailId" onkeyup="validEmail()"  class="form-control">
                                   <span id="emailer" class="text-danger"></span>
                            </div>
                            <div class="form-group mt-3">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password"  onkeyup="validPassowrd()"   class="form-control">
                                 <span id="passworderr" class="text-danger"></span>
                            </div>
                            <div class="form-group mt-3">
                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit"  onclick="return validation()"  name="submit" class="btn btn-info btn-md mt-3" value="submit">
                            </div>
                            <div id="register-link" class="text-right mt-3">
                                <a href="/signup" class="text-info">Dont have an account ? Register here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>





<script>

    var errorEmail = document.getElementById('emailer')
    var errorPassword = document.getElementById('passworderr')


       function validEmail() {
        const name = document.getElementById('emailId').value
        if (name == "") {
            errorEmail.innerHTML = "enter you email address"
            return false


        }
        if (!name.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/)) {
            errorEmail.innerHTML = 'enter a proper email adress'
            return false
        }

        errorEmail.innerHTML = null
        return true
    }

 

    function validPassowrd() {
        const name = document.getElementById('password').value
        if (name == "") {
            errorPassword.innerHTML = "enter a password"
            return false
        }
        if (name.length < 3) {
            errorPassword.innerHTML = "password should be more than three characters"
            return false
        }
        errorPassword.innerHTML = null
        return true
    }



    function  validation() {
        if (   !validEmail() &&!validateName() && !validPassowrd() &&!validConfirmPassowrd()   ) {
            return false
        }else if( !validEmail() ||!validateName() || !validPassowrd()||!validConfirmPassowrd()   ){
           return false
        }else{   return true}

    }
</script>